In [ ]:
# Write a for loop to print the square of each number in the list [1, 2, 3, 4, 5].

for i in range(1,6):
    print(i**2)

In [ ]:
# Write a while loop to print numbers from 10 down to 1.

max = 10
min = 1

while max >=min:
    print(max)
    max-=1

In [ ]:
# Write a nested loop to display the following pattern:
[i for i in range(1,6)]

In [ ]:
for i in range(1,6):
        i= i * '*'
        print(i)

In [ ]:
[i*'*' for i in range(1,6)]

In [ ]:
total_sum = 0
lst = [10, 20, 30, 40, 50]

for i in lst:
    total_sum += i
    print(total_sum)

In [ ]:
'''
Write a while loop to keep accepting user input until they type "stop".
For every input, print "You entered: <input>". If the input is "stop", exit the loop without printing anything further.
'''
message = input(str()).lower()
while message != 'stop':
    message = input(str()).lower()
    print(message)

In [ ]:
''' 
Write a for loop that iterates over the string "DataScience" and prints each character on a new line.

If the character is "S", skip printing it and continue with the next character.
'''

txt = "DataScience"

for i in txt:
    if i == 'S':
        continue
    print(f'{i}\n')

In [ ]:
''' Write a for loop to iterate over the list of numbers [3, 6, 9, 12, 15].

    If a number is divisible by 2, print: "Even: <number>".
    If it is divisible by 3 but not 2, print: "Odd: <number>".
'''
lst = [3,6,9,12,15]
for i in lst:
    if i%2!=0 and i%3==0:
        print(f'Odd : {i}')
    elif i%2==0:
        print(f'Even : {i}')

In [ ]:
def power(a=1,b=1):
    return a**b

power(b=2, a=3)

In [ ]:
# Write a function convert_to_celsius(fahrenheit) that takes a temperature in Fahrenheit and returns it in Celsius.

def convert_to_celsius(fahrenheit):
    return (fahrenheit - 32) / 1.8

In [ ]:
convert_to_celsius(34)

In [ ]:
"""
Write a function factorial(n) that calculates the factorial of a number nn.
The factorial of nn is the product of all positive integers less than or equal to nn.
For example:
"""
def factorial(n):
    final_answer = 1
    for i in range(1, n+1):
        final_answer = final_answer * i
    return final_answer

In [ ]:
factorial(5)

In [ ]:
'''
Write a function is_palindrome(word) that checks if a given word is a palindrome. A word is considered a palindrome if it reads the same backward as forward.
'''

def is_palindrome(word):
    return True if word == word[::-1] else False

In [ ]:
is_palindrome('radar')

In [ ]:
x = 'money'

x[::-1]

In [ ]:
# Write a function check_even_odd(number) that takes a number as input and:

def check_even_odd(n):
    return 'Even' if n%2==0 else 'Odd'

In [ ]:
check_even_odd(10)
check_even_odd(9)

In [ ]:
'''
Write a function is_prime(number) that checks if a given number is prime. A number is considered prime if it is greater than 1 and divisible only by 1 and itself.
'''
def is_prime(n):
    if n < 1:
        print('Enter a number greater than or equal to 1')
    elif n%1 ==0 and n%n==0:
        print('Prime Number')

In [ ]:
is_prime(10)

In [ ]:
is_prime(9)

In [ ]:
number = 10
for i in range(2, int(number**0.5) + 1):
    print(i)

In [ ]:
3**0.5

In [ ]:
# Write a lambda function that takes a number xx and returns its square.

x = lambda x : x**2 
x(3)

In [ ]:
check_number = lambda x: True if x%2==0 else False
check_number(3)

In [ ]:
max_number = lambda a, b: b if b > a else a

In [ ]:
max_number(5,7)

In [ ]:
x = lambda x=[1,2,3,4,5]: i*i in x
x

In [ ]:
multiply_list = lambda  x: x*x

In [ ]:
list(map(multiply_list, [1,2,3,4,5]))

In [ ]:
def square(x):
    return x**2

x = list(map(square, [1,2,3,4,5]))
print(x)

In [ ]:
x = lambda x: x**2

list(map(x, [1,2,3,4,5]))

In [ ]:
check_even = lambda x: x%2 ==0

list(filter(check_even, [1,2,3,4,5,6]))

In [ ]:
double_num = lambda x: x*2

list(map(double_num, [1,2,3,4]))

In [ ]:
list(filter(lambda x: x > 10, [5, 15, 25, 8, 3, 12]))

In [ ]:
list(map(lambda x, y: x*y, [1,2,3],[4,5,6]))

In [ ]:
lambda x, y: x*y

In [ ]:
list(map(lambda x, y: x + y, ['hello', 'good'], ['world','morning']))

In [ ]:
list(map(lambda x : len(x), ['Batman','Mike', 'jack', 'Will', 'Sunny']))

In [ ]:
list(map(lambda x: x[0], ['Apple', 'Banana', 'Orange']))

In [ ]:
list(filter(lambda x:x[0]=='a', ['apple', 'angry', 'mango'] ))

In [ ]:
numbers = [1,2,3,4,5]

[i*2 for i in numbers]

In [ ]:
def square_num(n):
    lst = 0
    for i in n:
        lst += i*2
    return lst

square_num([1,2,3])

In [ ]:
square_num([1,2,3])

In [ ]:
list(map(square_num, [1,2,3,4,5]))

In [ ]:
def mult(*args):
    p = 9

    for i in args:
        p *= i 
    return p

In [ ]:
mult(2,3,4,5)

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

[i.count('e') >=2 for vals in all_data for i in vals ]

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

[i for vals in some_tuples for i in vals]

In [37]:

def func():
    global nums
    nums = []
    for i in range(5):
        nums.append(i)
        print(i)

In [38]:
func()

0
1
2
3
4

In [39]:
nums

[0, 1, 2, 3, 4]

In [40]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [42]:
squares()

In [43]:
for i in squares():
    print(i)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100