# Tuples - Sets -Dictionary

In [11]:
t = (1)
print(type(t))

<class 'int'>

In [2]:
t = (1,)
print(t)

(1,)

In [3]:
t = (1,2,3,4,(5,6))

print(type(t))

<class 'tuple'>

In [6]:
t = (1,2,3,4,(5,6))
print(t[0:3])

(1, 2, 3)

In [8]:
t = (1,2,3,4,(5,6))
print(t[0:4:2])

(1, 3)

In [10]:
t = (1,2,3,4,(5,6))
print(t[-1][1])

6

## Item assignment

In [12]:
t = (1,2,3,4,5)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [14]:
t = (1,2,3,4,5)
del(t[0])

TypeError: 'tuple' object doesn't support item deletion

# Operations

In [2]:
t = (1,2,3,4,5)
t2 = (6,7,8,9,10)

print(t+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#iteration
t = (1,2,3,4,5)

for i in t:
    print(i)

1
2
3
4
5

In [5]:
#membership
t = (1,2,3,4,5)

1 in t

True

In [8]:
#iteration
t = (1,2,3,4,5)

sorted(t)

[1, 2, 3, 4, 5]

In [9]:
t = (1, 2, 3, 4, 5)

t.index(5)

4

In [10]:
t = (1, 2, 3, 4, 5)
t[:3]

(1, 2, 3)

In [11]:
# Error prone
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [13]:
a = (1,2,3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Tuple unpacking

In [14]:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [15]:
a = 1
b=2
a,b = b,a
print('a',a)
print('b', b)

a 2
b 1

In [20]:
a,b,*other=(1,2,3,4,5)

print('a is', a,',b is', b,',and others are',other)

a is 1 ,b is 2 ,and others are [3, 4, 5]

## Zipping tuples

In [22]:
a = (1,2,3,4)
b = (5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Set

In [25]:
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [26]:
# 1d set 
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [28]:
#2D set
s2 = {1,2,3,{1,2}}
print(s2)

TypeError: unhashable type: 'set'

In [29]:
t = {1,2,3,'hello', True, (1,2,3,'hello')}
print(t)

{1, 2, 3, (1, 2, 3, 'hello'), 'hello'}

In [31]:
# Adding item 
s = {1,2,3,4,5}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [32]:
# Updating : Can add multiple items at once

s.update([6,7,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [35]:
# Discard
s.discard(5)
print(s)

{1, 2, 3, 4, 6, 7}