# Tuples - Sets -Dictionary

In [11]:
t = (1)
print(type(t))

<class 'int'>

In [2]:
t = (1,)
print(t)

(1,)

In [3]:
t = (1,2,3,4,(5,6))

print(type(t))

<class 'tuple'>

In [6]:
t = (1,2,3,4,(5,6))
print(t[0:3])

(1, 2, 3)

In [8]:
t = (1,2,3,4,(5,6))
print(t[0:4:2])

(1, 3)

In [10]:
t = (1,2,3,4,(5,6))
print(t[-1][1])

6

## Item assignment

In [12]:
t = (1,2,3,4,5)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [14]:
t = (1,2,3,4,5)
del(t[0])

TypeError: 'tuple' object doesn't support item deletion

# Operations

In [2]:
t = (1,2,3,4,5)
t2 = (6,7,8,9,10)

print(t+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#iteration
t = (1,2,3,4,5)

for i in t:
    print(i)

1
2
3
4
5

In [5]:
#membership
t = (1,2,3,4,5)

1 in t

True

In [8]:
#iteration
t = (1,2,3,4,5)

sorted(t)

[1, 2, 3, 4, 5]

In [9]:
t = (1, 2, 3, 4, 5)

t.index(5)

4

In [10]:
t = (1, 2, 3, 4, 5)
t[:3]

(1, 2, 3)

In [11]:
# Error prone
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [13]:
a = (1,2,3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Tuple unpacking

In [14]:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [15]:
a = 1
b=2
a,b = b,a
print('a',a)
print('b', b)

a 2
b 1

In [20]:
a,b,*other=(1,2,3,4,5)

print('a is', a,',b is', b,',and others are',other)

a is 1 ,b is 2 ,and others are [3, 4, 5]

## Zipping tuples

In [22]:
a = (1,2,3,4)
b = (5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Set

In [25]:
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [26]:
# 1d set 
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [28]:
#2D set
s2 = {1,2,3,{1,2}}
print(s2)

TypeError: unhashable type: 'set'

In [29]:
t = {1,2,3,'hello', True, (1,2,3,'hello')}
print(t)

{1, 2, 3, (1, 2, 3, 'hello'), 'hello'}

In [31]:
# Adding item 
s = {1,2,3,4,5}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [32]:
# Updating : Can add multiple items at once

s.update([6,7,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [35]:
# Discard
s.discard(5)
print(s)

{1, 2, 3, 4, 6, 7}

# Ser Operations

In [3]:
# union / update
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
# Intersection
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}

s1.intersection(s2)

{5}

In [5]:
# symmetric differnce 
s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}

s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8, 9}

In [6]:
# disjoint 

s1 = {1,2,3,4,5}
s2 = {5,6,7,8,9}

s1.isdisjoint(s2)

False

In [8]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

s2.issubset(s1)

True

# Frozen set

In [10]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1.union(fs2)

frozenset({1, 2, 3, 4, 5})

In [12]:
# Set Comprehension

{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Dictionary

In [14]:
d = {} #symbol 
d1 = {'name' : 'Artist', 'age':'100'} #1d dict
mixed_dict = {(1,2,3) : 1, 'name': 'Artist'} #mixed dict
print(mixed_dict)

{(1, 2, 3): 1, 'name': 'Artist'}

In [17]:
# 2d dict - Json
s = {
    'name': 'Artist',
    'College' : 'GT',
    'Sub' : {
        'math' : 100,
        'ML': 100,
        'Stat':100
    }

}

print(s)

{'name': 'Artist', 'College': 'GT', 'Sub': {'math': 100, 'ML': 100, 'Stat': 100}}

In [35]:
# Accessubg item
s = {
    'name': 'Artist',
    'College' : 'GT',
    'Sub' : {
        'math' : 100,
        'ML': 100,
        'Stat':100
    }

}


s.get('College')

'GT'

In [36]:
s['name'] = 'Batman'

print(s)

{'name': 'Batman', 'College': 'GT', 'Sub': {'math': 100, 'ML': 100, 'Stat': 100}}

In [38]:
s.pop('College')

'GT'

In [32]:
print(s)

{'name': 'Batman', 'Sub': {'math': 100, 'ML': 100, 'Stat': 100}}

In [34]:
# 2d

s['Sub']['math']

100

In [39]:
'name' in s

True

In [62]:
s = dict({'name':['Artist','Batman'], 'Gender':[100, 150]})


for keys, values in s.items():
    print(keys, ':', values)

name : ['Artist', 'Batman']
Gender : [100, 150]

In [64]:
print(s.items())

dict_items([('name', ['Artist', 'Batman']), ('Gender', [100, 150])])

# Dictionary Comprehension

In [65]:
{i**2 for i in range(1,10)}

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [66]:
distances = {'NY':1000, 'DC':100}
{keys:values*0.62 for (keys, values) in distances.items()}

{'NY': 620.0, 'DC': 62.0}

In [69]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Friday']
temps = [56,66, 75,90,88]

{day:temp for day, temp in zip(days, temps)}

{'Monday': 56, 'Tuesday': 66, 'Wednesday': 75, 'Friday': 90}

In [71]:
prod = dict({'phone':10, 'laptop':0, 'charger':32, 'tablet':0})
print({keys:values for keys, values in prod.items() if values >0})

{'phone': 10, 'laptop': 0, 'charger': 32, 'tablet': 0}

In [79]:
for (keys, values) in prod.items():
    if values >0:
        print(keys, values)

phone 10
charger 32

In [78]:
prod = dict({'phone':10, 'laptop':0, 'charger':32, 'tablet':0})
print({keys:values for keys, values in prod.items() if values >0})

{'phone': 10, 'charger': 32}

In [109]:
# nested dict
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [106]:
{i*i for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}